<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>409519AE1EBB6A2900CDEEA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409519C51EBB6A2B00CDEEA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409519D01EBB6A2B00CDEEA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
